body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #6e6262; 
    color: #fff;
    display: flex;
    justify-content: center;
}


body > * {
    max-width: 1200px;
    margin: 0 auto;
}
